.mainAct1{
  /* border: 1px solid black; */
  width: 80vw;
  /* height: 500px; */
  margin: 0 auto;
  font-family: press, 'sans-serrif';
  padding: 35px;
}

.mainActivity{
  display: flex;
  align-items: center;
  width: 100%;
}

.first{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 25px;
  /* align-items: flex-start; */
  justify-content: center;
  width: 100%;
  font-size: 1.3rem;
}

.head{
  margin-top: 30px;
  font-family: rubik, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: darkcyan;
}

.body{
  margin-top: 20px;
}

.title{
  color: blueviolet;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.moreButton{
  float: right;
  cursor: pointer;
}

input{
  border: 1px solid gainsboro;
  width: 70px;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 20px;
}

.contributeButton{
  float: right;
  /* margin-right: 40px; */
  border: none;
  background-color: orangered;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 900px){
  input{
    width: 60px;
    margin-left: 5px;
  }
  
  .contributeButton{
    padding: 3px 7px;
  }
}