.mainAct1{
  border: 2px solid black;
  width: 80vw;
  height: 500px;
  margin: 0 auto;
}

.mainActivity{

}

.moreButton{
  margin-left: 10px;
  cursor: pointer;
}

input{
  width: 50px;
}

.contributeButton{
  float: right;
}