@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --text-color: #333333;
  --nav-back: #f4f4f4;
  --background-color: #FAF0E6;
  --dashboard-back: #dcdcdc;
  --weather-back: #4A5568;
}

html{
  background-color: var(--background-color);
  transition: filter 0.5s;
  /* height: 3000px; */
  padding-top: 80px;
}

.dark-mode{
  filter: invert(100%);
  transition: all 0.5s;
}

@media (max-width: 900px){
  html{
    padding-top: 60px;
  }
}